*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
}


#main #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    
}
#nav #logo{
    width: 40%;
}
#nav #menu{
    width: 60%;
    margin-top: -40px;
}
#logo img{
    margin: 15px 20px;
    width: 170px;
    height: 170px;
}
#nav .menulist{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none; 
    font-family: Gidole;  
}
.menulist li{
    padding: 6px;
    border-radius: 5px;
}
.menulist li:hover{
    background-color: #DEB992;
}

.menulist a{
    text-decoration: none;
    color: #051622;
    font-size: 25px;
    font-weight: 980;
}
#one{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#one_left{
    height: 500px;
    width: 55%;
     font-family: Gidole;
    font-size: 60px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: #051622;
    
} 
 #one_left span{
    font-family: Playwrite RO;
    font-size: 45px;
    color:#DEB992;
}

#one_right{
    height:700px;
    width: 45%;
   
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}
#one_right #first{
    width: 100%;
    height: 45%;
    object-fit: cover;

}
#one_right #second{
    width: 100%;
    height: 55%;
    object-fit: cover;
}


#services  h1{
    font-family: Gidole;
    font-size: 60px;
    color: #051622;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 90px;
}

#services #ser1{
    display: flex;
    align-items: center;
    gap: 20px;

}
#ser1 #ser1_left{
   width: 45%;
   clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

}
#ser1 #ser1_left img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* transform: rotate3d(0, 1, 0, 180deg); */

}



#ser1 #ser1_right{
    
    width: 55%;
    padding-right: 20px;
}
#ser1 #ser1_right h3{
    font-family: Gidole;
    font-size: 45px;
    color: #1BA098;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 60px;
    line-height: 40px;
}
#ser1 #ser1_right p{
    font-family: Gidole;
    font-size: 28px;
    color: #051622;
    margin-top: 20px;
    margin-bottom: 20px;
}
#ser1 #ser1_right button{
    width: 120px;
    height: 30px;
    background-color:#DEB992;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-family: Gidole;
    margin-top: 20px;
    margin-bottom: 20px;

}
#ser1 #ser1_right button:hover{
    background-color: #051622;
    transform: translateX(-20px);
    transition: ease-in-out 0.5s;

}

#ser2{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 120px;
    margin-bottom: 80px;
}

#ser2 #ser2_left{
    width: 55%;
   
    padding-left: 30px;
}
#ser2 #ser2_left h3{
    font-family: Gidole;
    font-size: 45px;
    color: #1BA098;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 60px;
    line-height: 35px;
}
#ser2 #ser2_left p{
    font-family: Gidole;
    font-size: 28px;
    color: #051622;
    margin-top: 20px;
    margin-bottom: 20px;
}
#ser2 #ser2_left button{
    width: 120px;
    height: 30px;
    background-color:#DEB992;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-family: Gidole;
    margin-top: 20px;
    margin-bottom: 20px;

}
#ser2 #ser2_left button:hover{
    background-color: #051622;
    transform: translateX(20px);
    transition: ease-in-out 0.5s;
}
#ser2 #ser2_right{
    width: 45%;
   
    clip-path: polygon(0 0, 65% 0, 100% 100%, 34% 100%);
}
#ser2 #ser2_right img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#ser3{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 120px;
    margin-bottom: 110px;
}

#ser3 #ser3_left{
    width: 45%;
    
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
   
}
#ser3 #ser3_left img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#ser3 #ser3_right{
    width: 55%;
    
    
}
#ser3 #ser3_right h3{
    font-family: Gidole;
    font-size: 45px;
    color: #1BA098;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 60px;
    line-height: 35px;
}
#ser3 #ser3_right p{
    font-family: Gidole;
    font-size: 28px;
    color: #051622;
    margin-top: 20px;
    margin-bottom: 20px;
}
#ser3 #ser3_right button{
    width: 120px;
    height: 30px;
    background-color:#DEB992;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-family: Gidole;
    margin-top: 20px;
    margin-bottom: 20px;

}
#ser3 #ser3_right button:hover{
    background-color: #051622;
    transform: scale3d(1.1, 1.1, 1.1);
}

#info{
    margin-top: 90px;
    text-align: center;
    width:100%;
    background-color: #1BA098;
    margin-bottom: 90px;
    border: 3px solid #1BA098;
    border-radius: 20px;
    border-bottom: 20px;
}
#info p{
    font-family: Gidole;
    font-size: 35px;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}
#info span{
    font-family: Playwrite RO;
    font-size: 30px;
    color: #DEB992;

}
#info button{
    width: 120px;
    height: 50px;
    background-color:#051622;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-family: Gidole;
    margin-top: 20px;
    margin-bottom: 20px;

}
#info button:hover{
    background-color: #fff;
    color: #051622;

}

#customer{
   width: 100%;
   display: flex;
   margin-top: 90px;
   align-items: center;
   gap: 20px;
   overflow: hidden;
}
#customer #h31{
   
    text-align: center;
    font-family: Gidole;
    font-size: 59px;
    padding-left: 30px;
    color: #051622;
}
#customer #h31 span{
    color: #1BA098;
    font-family: Playwrite RO;
}

.swiper {
    width: 520px;
    height: 520px;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 20px;
  }

  .swiper-slide:nth-child(1n) {
    display: flex;
    flex-direction: column;
    
    background-image: linear-gradient(135deg, #69FF97 10%, #00E4FF 100%);
  }
  .swiper-slide:nth-child(1n) img {
   width: 100%;
   height: 270px;
   object-fit: contain;
  }
  .swiper-slide:nth-child(1n) p{
    text-align: center;
   padding-top: 30px;
   width: 100%;
   padding-left: 20px;
   font-family: Gidole;
   font-weight: 550;
   color: #051622;
  
  }
  

  .swiper-slide:nth-child(2n) {
    
    background-image: linear-gradient(135deg, #bdc2e8 10%, #e6dee9 100%);
    display: flex;
    flex-direction: column;
  }
  .swiper-slide:nth-child(2n) img {
    width: 100%;
    height: 270px;
    object-fit: contain;
    border-radius: 20px;
   }
   .swiper-slide:nth-child(2n) p{
    text-align: center;
    padding-top: 20px;
    width: 100%;
    padding-left: 20px;
    font-family: Gidole;
    font-weight: 550;
    color:#051622;
    
   }

  .swiper-slide:nth-child(3n) {
    background-image: linear-gradient(135deg, #9795f0 10%, #fbc8d4 100%);
    display: flex;
    flex-direction: column;
  }
  .swiper-slide:nth-child(3n) img {
    width: 100%;
    height: 270px;
    object-fit: contain;
    border-radius: 20px;
   }
   .swiper-slide:nth-child(3n) p{
    text-align: center;
    padding-top: 20px;
    width: 100%;
    padding-left: 20px;
    font-family: Gidole;
    font-weight: 550;
    color:#051622;
    
   }
  .swiper-slide:nth-child(4n) {
    background-image: linear-gradient(135deg, #FAD7A1 10%, #E96D71 100%);
    display: flex;
    flex-direction: column;
  }
  .swiper-slide:nth-child(4n) img {
    width: 100%;
    height: 270px;
    object-fit: contain;
    border-radius: 20px;
   }
   .swiper-slide:nth-child(4n) p{
    text-align: center;
    padding-top: 20px;
    width: 100%;
    padding-left: 20px;
    font-family: Gidole;
    font-weight: 550;
    color:#051622;
    
    
   }

  .swiper-slide:nth-child(5n) {
    background-image: linear-gradient(135deg, #f9d423 10%, #ff4e50 100%);
    display: flex;
    flex-direction: column;
  }
  .swiper-slide:nth-child(5n) img {
    width: 100%;
    height: 270px;
    object-fit: contain;
    border-radius: 20px;
   }
   .swiper-slide:nth-child(5n) p{
    text-align: center;
    padding-top: 20px;
    width: 100%;
    padding-left: 20px;
    font-family: Gidole;
    font-weight: 550;
    color:#051622;
   
   }

 


#achieve{
    width: 100%;
    margin-top: 90px;
    height: 300px;
    
  }
#ach1{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 110px;
}
#ach1 #our{
    text-align: center;
    font-family: Playwrite RO;
    font-size: 60px;
    color: #1BA098;
    padding-top: 30px;
    padding-left: 60px;

}

#ach1 .topic1{
  
    width: 190px;
    height: 170px;
    border-radius: 20px;
    background-image: linear-gradient(135deg, #c79081 10%, #dfa579 100%);
}
#ach1 .topic1 h3{
    text-align: center;
    font-family: Gidole;
    font-size: 25px;
    color: #fff;
    padding-top: 50px;

}
#ach2{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 90px;
    margin-top: 12px;
    padding-right: 2px;

}
#ach2 #ach3{
    text-align: center;
    font-family: Playwrite RO;
    font-size: 57px;
    color: #1BA098;
    padding-top: 30px;


}
#ach2 .topic2{
  
    width: 190px;
    height: 170px;
    border-radius: 20px;
    
    background-image: linear-gradient(135deg, #c79081 10%, #dfa579 100%);

}
#ach2 .topic2 h3{
    text-align: center;
    font-family: Gidole;
    font-size: 25px;
    color: #fff;
    padding-top: 40px;

}

 

  #meet{
    margin-top: 180px;
    width: 100%;
    height: 300px;
    
  }
  #meet h3{
    text-align: center;
    font-family: Gidole;
    font-size: 40px;
    color: #051622;

  }

#name #firstrow{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
} 
#name #firstrow .card1{
    width: 120px;
    height: 120px;
    
}
.card1 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#name #secondrow{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
} 
#name #secondrow .card1{
    width: 120px;
    height: 120px;
    
}
#seperate{
    margin-top: 110px;
    margin-bottom: 2px;
    width: 100%;
   /* border: 2px solid #DEB992; */
   display: flex;
   align-items: center;
   justify-content: space-around;
}
#seperate i{
    font-size: 130px;
    color: #DEB992;
}


#footer{
    width: 100%;
    height: auto;
    margin-top: 110px;
    
} 
 #footer #top{
    display: flex;

}
#top1{
    width: 30%;
    padding-left: 20px;

}
#top1 img{
    width: 170px;
    height: 170px;
    padding-left: 10px;

}
#top1 p{
    font-family: Playwrite RO;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;

}
#top2{
    width:30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 18px;
    padding-top: 25px;
    border-right: 3px solid #DEB992;
    margin-right: -20px;
    border-top: 3px solid #DEB992;
}
#top2 h3{
    text-align: center;
    font-size: 30px;
    font-family: Gidole;
    padding-top: 20px;
}
#top2 #links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-left: 30px;
}
 #links .link1 a{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    font-family: Gidole;
    color: #051622;
    font-weight: 650;
}
#links .link2 a{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    font-family: Gidole;
    color: #051622;
    font-weight: 650;
}
#links .link3 a{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    font-family: Gidole;
    color: #051622;
    font-weight: 650;
}


#top3{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-top: 25px;

}
#top3 #contact h3{
    text-align: center;
    font-size: 30px;
    font-family: Gidole;
    padding-top: 20px;
    color: #051622;
}
#contact #email{
    padding-left: 150px;
    padding-top: 8px;
}
#email i{
    font-size: 20px;
    color: #1BA098;
}
#email a{
    text-decoration: none;
    color: #1BA098;
    font-size: 20px;
}

#term h3{
    text-align: center;
    font-size: 30px;
    font-family: Gidole;
    padding-top: 20px;
    color: #051622;
}
#term a{
    text-decoration: none;
    color:#1BA098;
    font-size: 20px;
    padding-left: 190px;
    padding-top: 10px;
}
#follow h3{
    text-align: center;
    font-size: 30px;
    font-family: Gidole;
    padding-top: 20px;
    color: #051622;
}
#follow .social{
    padding-left: 185px;
    padding-top: 10px;
}
.social a{
    text-decoration: none;
}
.social i{
    font-size: 25px;
    color: #1BA098;
}
#bottom{
    margin-top: 30px;
    width: 100%;
    text-align: center;

}

#bottom1{
    width: 100%;
    height: 50px;
    background-color: #DEB992;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#bottom1 p{
    font-family: Gidole;
    font-size: 20px;
    color: #051622;
    padding-top: 14px;
    font-weight: 600;
}
#bottom2{
    width: 100%;
    height: 50px;
    background-color:#1BA098;
    border-radius: 18px;
    margin-top: 12px;
} 
 #bottom2 p{
    font-family: Gidole;
    font-size: 20px;
    color: #fff;
    padding-top: 14px;
    font-weight: 550;
} 

